<div class="mainTaskHeader">
  <h2>Edit Profile</h2>
  <div class="clear"></div>
</div>
<% form_for @user, :html => {:multipart => true} do |f| %>
  <%= errors @user %>
  <ul>
    <li>
      <label for='username'>Username</label>
      <%= f.text_field :login, :id => 'username', :class => 'text', :size => '32' %>
    </li>
    <li>
      <%= f.label :email %>
      <%= f.text_field :email, :class => 'text', :size => '32' %>
    </li>
    <li>
      <%= f.label :password %>
      <%= f.password_field :password, :class => 'text', :size => '32' %>
    </li>
    <li>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, :class => 'text', :size => '32' %>
    </li>
    <li>
      <label for='avatar'>Current Avatar</label>
      <%= image_tag @user.avatar.url(:normal) %>
    </li>
    <li>
      <label for='user_avatar'>Upload a new avatar</label>
      <%= f.file_field :avatar %>
    </li>
    
    <li>
      <label for='user_subscribe_campaigns'>Email me when there's a new campaign:</label>
      <%= f.check_box :subscribe_campaigns %>
    </li>
    
    <li>
      <label for='user_subscribe_all'>Email me about other Sunlight services:</label>
      <%= f.check_box :subscribe_all %>
    </li>
    
    <input type="submit" value="Update" name="commit" id="update_button" />
  </ul>  
<% end %>


