<% content_for :class, :leaders %>
<% content_for :hide_sidebar, true %>

<p>
  Each time you complete a task, you get some points. The number of points depends on the task that you complete, and is shown next to each task. If you complete enough, you'll get listed in our leader board below and advance to new levels.  If you're really good, you could end up in our Transparency Corps Hall of Fame!
</p>

<% @levels.each do |level| %>
  <div class="rank">
    <div class="rankHeader">
      <img src="/images/leaders_<%= level %>.png" />
      <dl>
        <dt class="level">Level</dt>
        <dd class="level"><%= to_word level %></dd>
        
        <dt class="rankTitle">Rank</dt>
        <dd class="rankTitle"><%= LEVELS[LEVELS.keys.sort[level-1]] %></dd>
        
        <dt class="pointTitle">Points</dt>
        <dd class="pointTitle"><%= LEVELS.keys.sort[level-1] %> Points</dd>
      </dl>
    </div>
    
    <% if @groups[level] and @groups[level].any? %>
      <ol class="leaders">
        <% @groups[level].each do |user| %>
          <li>
            <%= image_tag user.avatar.url(:normal) %>
            <span class="leaderName"><%= h user.login %></span>
            <span class="leaderPoints"><%= user.sum_points %> pts</span>
          </li>
        <% end %>
      </ol>
    <% else %>
      <p>No one has achieved this level.</p>
    <% end %>
    <div class="clear"></div>
  </div>
<% end %>