%h1 Register

- form_for @user do |f|
  = f.error_messages
  = f.label :login
  %br
  = f.text_field :login
  %br
  %br
  = f.label :email
  %br
  = f.text_field :email
  %br
  %br
  %h3 Password
  = f.label :password
  %br
  = f.password_field :password
  %br
  %br
  = f.label :password_confirmation
  %br
  = f.password_field :password_confirmation
  %br
  %h3 OR OpenID
  = f.label :openid_identifier
  %br
  = f.text_field :openid_identifier
  %br
  %br
  = f.submit 'Login'