<div class="mainTaskHeader">
	<h2>Sign Up</h2>
</div>	
<p>Already have an account? <%= link_to 'Log in', login_path %> now!</p>
<p>Don't have an account? Signing up is easy, choose a username, then provide a password or OpenID.</p>

<% form_for @user do |f| %>
<ul>
	<li>
  		<%= f.error_messages %>
  		<%= f.label :login %>
  		<%= f.text_field :login %>
  	</li>
	<li>
  		<%= f.label :email %>
  		<%= f.text_field :email %>
	</li>
  	<li>
  		<%= f.label :password %>
  		<%= f.password_field :password %>
  	</li>
  	<li>
  		<%= f.label :password_confirmation %>
  		<%= f.password_field :password_confirmation %>
	</li>
	<li>
		<span id="or">OR</hspan>
	</li>	
	<li>
		<%= f.label :openid_identifier %>
		<%= f.text_field :openid_identifier %>
	</li>	
</ul>

  <%= f.submit 'Register' %>
<% end %>

<h3>Use another account</h3>
<p>Login with your Google, Facebook, or Yahoo account, or your OpenID.</p>
<div id="clickPass">
	<%= render :partial => 'layouts/clickpass' %>
</div>	