<div id="editTask_header">
  <h2>My Tasks</h2>
</div>

<% @campaigns.each do |campaign| %>
  <div class="task">
    <% if_javascript do %>
      <%= link_to 'Delete Task', admin_campaign_path(campaign), :method => :delete, :confirm => 'Are you sure you want to delete this campaign?', :class => 'deleteTask' %>
    <% end %>
    <% no_javascript do %>
      <%= link_to 'Delete Task', confirm_destroy_admin_campaign_path(:id => campaign), :class => 'deleteTask' %>
    <% end %>
    
    <div class="taskMain">
      <h3>
        <%= link_to h(campaign.name), edit_admin_campaign_path(campaign) %>
      </h3>
      <p>
        <%= h campaign.private_description %>
      </p>
    </div>

    <div class="taskStatus">
      <!--
        <select name="Status" class="statusDropdown">
          <option value="Draft">Draft</option>
          <option value="Public">Public</option>
          <option value="Closed">Closed</option>
        </select>
      -->
      <div class="taskComplete">
        <span>
          <%= campaign.percent_complete %>%
        </span>
        <p>complete</p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
<% end %>