<p>
  Hi <%= @user.login %>,
</p>

<p>
  A new campaign named "<%= @campaign.name %>" has appeared on TransparencyCorps. Here's the description:
</p>

<%= simple_format @campaign.description %>

<p>
  Visit this campaign here:<br/>
  <%= campaign_url @campaign, :host => @host %>
</p>

<p>
  -- The TransparencyCorps team
</p>

<p>
  P.S.  You asked to be notified when a new campaign appears on TransparencyCorps.  But if you want to unsubscribe from these notifications, visit your user profile on TransparencyCorps, uncheck the box that says "Email me when there's a new campaign", and click the Update button.<br/>
  <%= edit_user_url @user, :host => @host %>
</p>