<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>TransparencyCorps</title>
    <link>http://transparencycorps.org</link>
    <description>
      There are many big problems that we can solve with technology, but we can't solve them all. For many of the projects that make government transparency a reality, human eyes and analysis are required. With Transparency Corps, we break those tasks down into short, small actions that make a BIG difference. Join the Corps, and let's get started!
    </description>
    <language>en-us</language>
    <atom:link href="http://transparencycorps.org/campaigns.xml" rel="self" type="application/rss+xml" />
    
    <% @campaigns.each do |campaign| %>
      <item>
        <title>
          <%= campaign.name %>
        </title>
        <description><![CDATA[
          <%= campaign.description %>
        ]]></description>
        <link><%= campaign_url campaign %></link>
        <guid><%= campaign_url campaign %></guid>
        <pubDate><%= campaign.start_at %></pubDate>
      </item>
    <% end %>
  </channel>
</rss>