- content_for :class, :tasks
- content_for :header, :scoreboard
- content_for :sidebar_title, 'Not the Task for You, Choose Another'

.mainTaskHeader
  %h2= h @campaign.name
  - percent = @campaign.percent_complete
  .taskMetadata
    %span= pluralize(@campaign.points, 'point').gsub(/\d\s/, '')
    %span.taskValue= @campaign.points

.taskDetail
  %h3 Progress on This Task
  .taskBar
    %span.tagValue{:style => "width: #{percent}%"}== #{percent}%
  %span.tagNumber== #{100 - percent}% To Go

%p= h @campaign.description

= link_to "I'd Like Another Task", '#', :id => 'anotherTask'