- form_for @user_session, :url => user_session_path do |f|
  = f.label :login
  %br
  = f.text_field :login
  %br
  %br
  = f.label :password
  %br
  = f.password_field :password
  %br
  = f.submit 'Login'