%h3 Login

- form_for @user_session, :url => user_session_path do |f|
  %h4 Username/Password
  = f.label :login
  %br
  = f.text_field :login
  %br
  = f.label :password
  %br
  = f.password_field :password
  %br
  %h4 OR OpenID
  = f.label :openid_identifier
  %br
  = f.text_field :openid_identifier
  %br
  %br
  = f.submit 'Login'

%h4 OR Clickpass

= render :partial => 'layouts/clickpass'