#rtBorder
  #rtContent
    %h3= yield(:sidebar_title) || "Get Started by Choosing <br/>a Task Below"
    %ul
      - campaigns.each do |campaign|
        %li
          .taskTop
            .taskHeader
              %h4= link_to h(campaign.name), campaign_path(campaign)
              .taskMetadata
                - if is_home? yield(:class)
                  %span points
                %span.taskValue= campaign.points
              .clear
            %p= h(campaign.description)
          .taskDetail
            - percent = campaign.percent_complete
            .taskBar
              %span.tagValue{:style => "width: #{percent}%"}== #{percent}%
            %span.tagNumber== #{100 - percent}% To Go
          .clear